* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
}

label {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 2px;
  cursor: pointer;
  font-style: oblique;
}

body {
  background-image: url("../public/back.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  height: 100vh;
  background-size: cover;
}

.div-head {
  text-align: center;
  padding: 40px 10px;
}

.div-head h1 {
  font-size: 64px;
  font-style: oblique;
  letter-spacing: 3px;
  word-spacing: 8px;
  text-shadow: 1px 1px 4px black;
}

.sec-main {
  padding: 10px;
}

.div-main {
  width: 95vw;
  max-width: 1200px;
  margin: 0 auto;
}

.field-main {
  background-color: #e4e4e4;
  padding: 20px;
  border-radius: 14px;
  border: 2px black solid;
}

.field-main input {
  margin: 5px 0 10px 0;
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  outline: none;
  border: 1px black solid;
}

.field-main legend {
  font-size: 42px;
  letter-spacing: 3px;
  font-style: oblique;
  text-shadow: 1px 1px 4px black;
}

.field-main label {
  display: block;
}

.form-main {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}

.form-main input {
  letter-spacing: 2px;
  color: #494752;
  font-size: 18px;
}

.form-main div:first-child,
.form-main div:nth-child(2) {
  width: calc(100% / 2 - (30px * 1 / 2));
}

.form-main div:nth-child(3) {
  width: 100%;
}

.form-main textarea {
  margin-top: 5px;
  padding: 10px;
  width: 100%;
  min-height: 150px;
  border-radius: 12px;
  outline: none;
  color: #494752;
  font-size: 14px;
  border: 1px black solid;
}

.div-radio {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 30%;
  margin: 0 auto;
  align-items: center;
}

.div-radio div {
  width: calc(100% / 2 - (20px * 1 / 2));
}

.div-radio div {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
}

.div-radio input {
  padding: 3px;
  width: 20px;
  cursor: pointer;
}

.div-radio label {
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  font-style: normal !important;
}

.form-main button {
  width: 50%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 12px;
  cursor: pointer;
}

.btn {
  width: 100%;
  text-align: center;
}
